.Hero{
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    height: 100%;
    /* flex-direction: column; */

}


.contactForm{
    left: 35%;
    top: 20%;
    
    /* border: 2px solid black; */
    background: #292e31;
    
    position: absolute;
    z-index: 5;
    /* border-radius: 9px; */
    height: 29rem;
    width: 26rem;
    
}

.contactForm>:nth-child(1){
    position: absolute;
    right: 8px;
    top: 13px;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    
}
.forum{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 35px;
}
.forum>div{
    position: relative;
    width: 90%;
   border-bottom: 2px solid white;
    margin: auto;
}
.forum>div>label{
    position: absolute;
    left: 3%;
    top: 25%;
    pointer-events: none;

    color: white;
    transition: .5s;
    font-size: .8rem;
    


}
.forum>div>input{
    background: transparent;

    border: none;
    outline: none;
    width: 87%;
    color: white;
    padding-left: 12px;
    height: 2rem;
    transition: .8s;
   

}

.forum>div>textarea{
    min-width: 92%;
    min-height: 7rem;
    max-width: 92%;
    max-height: 7rem;
    outline: none;
    color: white;;
    padding: 1rem;
    background: transparent;
    /* border: 2px solid white; */
}

.messagebutton{
    width: 5rem;
    height: 2rem;
    background: skyblue;
    border: none;
    outline: none;
    color: white;
    letter-spacing: 1px;
}



.forum>div>input:focus~label{
    top:-10px;
    font-size: .8rem;
}

.forum>div>input:valid~label{
    top: -10px;
    font-size: .8rem;
}



.forum>div>input:active~label{
    top: -10px;
}

.forum>div>textarea:focus~label{
   display: none;
}

.forum>:nth-child(4){
    border: none;
}

.forum>:nth-child(5){
    border: none;
}








.left-h{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    /* padding-top: 1rem; */
    position: relative;
    /* gap: 3rem; */
    flex: 1;
    /* border: 2px solid black; */

}


.quote{
    margin-top: 4rem;
    background-color: #363d42;
    border-radius: 4rem;
    width: fit-content;
    padding: 20px 30px;
    text-transform: uppercase;
    color: white;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
}

.quote>div{
    position: absolute;
    background-color: skyblue;
    width: 4.5rem;
    height: 80%;
    border-radius: 4rem;
    left: 8px;
    z-index: 1;
    /* width: 5.4rem; */
}

.quote>span{
    z-index: 2;
}

.solgan{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    line-height: 6rem;
}
.solgan>:nth-child(2){
    word-wrap: nowrap;
}

.desc{
    font-size:1rem;
    font-weight: semi-bold;

    text-transform: none;
    letter-spacing: 1px;
    width: 80%;
    padding-top: 1.5rem;
}

.desc>span{
    /* padding-top: 10rem ; */
    color: white;

}

.figures{
    padding-top: 2rem;


    display: flex;
    gap: 2rem;
}

.figures>div{
    display: flex;
    flex-direction: column;
}
.figures>div>:nth-child(1){
    display: flex;
}

.figures>div>span:nth-of-type(1){
    color: white;
    font-size: 1.5rem;
}

.figures>div>span:nth-of-type(2){
    color: var(--gray);
    /* font-size: 1.5rem; */
    text-transform: uppercase;
}

.software_span{
    letter-spacing: 2px;
}
.ideal_s{
    word-wrap: nowrap;
}


.right-h{
    position: relative;
    /* border: 2px solid black; */
    

    flex: 1;

    display: flex;
    
    flex-direction: column;
    
    /* background-color: var(--orange); */
    /* border: 2px solid black; */

}


.hero-img{
    position: absolute;
    /* border: 2px solid black; */
    width: 40rem;
    /* margin-top: 2px; */
    right: 0;
    top: 35px;
    /* top: 10px; */
    /* bottom: 0; */
}

.btn{
    margin-top: .8rem;
    display: flex;
    gap: 1rem;
    font-weight: normal;

}

.btn>:nth-child(1){
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: rem; */
    background-color: skyblue;
    color: (--gray);
    /* text-align: center; */
    outline: none;
    border: none;
    width: 8rem;
    height: 2.5rem;
    font-size: 1rem;
    cursor: pointer;

}

.btn>:nth-child(2){
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 1rem; */
    /* color: (--gray); */
    background-color: transparent;
    outline: none;
    border: 2px solid skyblue;
    width: 8rem;
    height: 2.5rem;
    font-size: 1rem;
    cursor: pointer;
    
}


@media screen and (max-width:768px) {
    .Hero{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding: 0 1rem; */
    }
    .contactForm{
        
        top: 0;
        left: 0;
        /* border: 2px solid black; */
        background: #292e31;
        
        position: absolute;
        z-index: 5;
        /* border-radius: 9px; */
        height: 100%;
        width: 100%;
        
    }



    .left-h{
        /* border: 2px solid black; */
        justify-content: center;
        align-items: center;
        padding:0 1rem;
    }


    .solgan>:nth-child(1){
        font-size: 1.5rem;


    }

    .desc{
        text-align: center;
    }
    
    .figures{
        font-size: 1rem;

        /* text-align: center; */

    }
    .right-h{
        /* border: 2px solid black; */
        width: 40rem;
        height: 25rem;
    }

    .right-h>img{
        /* border: 2px solid black; */
        position: relative;
        top: 7px;
        left: 0;
        margin: auto;


        width: 32rem;

    }

    
}

@media screen and (max-width:425px){
    .quote{
        height: 1rem;
        width:11rem;
        font-size: .8rem;
        /* text-align: center; */
    }

    .solgan{
        margin-top: 5px;
        gap: .2rem;
        font-size: 1rem;
        color: white;
        letter-spacing: 1px;
    }

    .solgan>:nth-child(1){
        font-size: 1.2rem;
        letter-spacing: 2px;
    }

    .desc{
        font-size: .8rem;
        padding-top: .2rem;
        font-weight: 100;
    }
    .figures{
        gap: 1rem;
        padding: 1.8rem 1rem;
    }
    .figures>div>span:nth-of-type(1){
        font-size: 1rem;
        text-align: center;
    }

    .figures>div>span:nth-of-type(2){
        font-size: .6rem;
        text-align: center;
    }

    .btn{
        margin-top: .4rem;
    }

    .btn>:nth-child(1){
        width: 5rem;
        height: 2rem;
        font-size: .7rem;
    }

    .btn>:nth-child(2){
        width: 5rem;
        height: 2rem;
        font-size: .7rem;
    }

    .right-h{
        width: 23rem;
        /* border: 2px solid black; */
    }

    .hero-img{
        overflow: hidden;
        width: 18rem;
        /* border: 2px solid black; */
    }

    .right-h>img{
        width: 17rem;
    }
    


}


@media screen and (max-width:320px){
    .right-h{
        /* border: 2px solid black; */
        width: 19.5rem;
    }

}

